{
  "project_info": {
    "project_number": "000000000000",
    "firebase_url": "https://larkam-REPLACE-ME-default-rtdb.firebaseio.com",
    "project_id": "larkam-REPLACE-ME",
    "storage_bucket": "larkam-REPLACE-ME.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.wiryadinata.stmlarkam"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
